<!DOCTYPE html>
<html ng-app="gifApp" lang="en">
  <head>
    <meta charset="utf-8">
    <title>GIFs in Angular</title>

    <!-- Libraries -->
    <script src="angular.min.js"></script>

    <!-- My development -->
    <script src="app.js"></script>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body ng-controller="GifController">
    <div class="container">
      <header>
        <img class="icon" ng-src="{{searchIcon}}" ng-click="searchMode()" ng-style="searchStyle"/>
        <img class="icon" ng-src="{{randomIcon}}" ng-click="randomMode()" ng-style="randomStyle"/>
        <div class="buttonContainer">
          <div class="randomButton" ng-show="showRandom">
            <button ng-click="getRandomGif()">Get Random GIF</button>
          </div>
          <form class="searchButton" ng-submit="searchGifs()" ng-show="showSearch">
            <input type="text" ng-model="searchText" placeholder="search gifs..."/>
            <!-- <button ng-click="searchGifs()">Search GIFs</button> -->
          </form>
        </div>

      </header>

      <div class="randomGifContainer" ng-show="showRandom">
        <img src="https://d13yacurqjgara.cloudfront.net/users/12755/screenshots/1037374/hex-loader2.gif" ng-show="imageLoading"/>
        <img ng-src="{{gif}}" ng-show="showGif" imageonload/>
      </div>
      <div class="searchGifContainer" ng-show="showSearch">
        <div class="imageLoading">
          <img src="https://d13yacurqjgara.cloudfront.net/users/12755/screenshots/1037374/hex-loader2.gif" ng-show="imageLoading" />
        </div>

        <img ng-src="{{gif.images.fixed_width.url}}" ng-repeat="gif in gifList" ng-show="gifIndex == $index"/>
      </div>
    </div>

  </body>
</html>
