body{
  /*background-color: #263696;*/
}

header{
  background-color: goldenrod;
  height: 10em;
  padding: 1em;
  /*padding: 3em 1em 2em 1em;*/
  margin: 1em;
}

button{
  height: 3em;
  border-radius: 1em;
  background-color: #263696;
  color: white;
  border: none;
  height: 2em;
  width: 10em;
  font-size: 2.5em;
}

button:focus{
  outline: none;
  background-color: #0B165B;
}

.buttonContainer{
    display: flex;
    justify-content: center;
}

.buttonContainer input{
  display: block;
  margin: 5px;
  width: 10em;
  height: 3em;
  margin: 0 0 10px 0;
  font-size: 2.0em;
  border-radius: 1em;
  text-align: center;
  border: none;
  background-color: #263696;
  color: white;
}

.buttonContainer input:focus{
  outline: none;
}

.randomGifContainer{
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

.searchGifContainer{
  /*display: flex;
  justify-content: flex-start;*/
  text-align: center;
}

.imgLoading{
  display: flex;
  justify-content: center;
}

.searchGifContainer img{
  /*display:block;*/
}

.container{
  border: solid 1em goldenrod;
  /*height: 40em;*/
  height: auto;
  overflow: scroll;
}

.icon{
  height: 30px;
  width: 30px;
  margin: 4px;
  box-sizing: border-box;
  border-radius: 12px;
}
